@charset "utf-8";
/* CSS_baseDefine>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>*/
html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,abbr,address,cite,code,del,dfn,em,img,ins,kbd,q,samp,small,strong,sub,sup,var,b,i,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;outline:0;font-size:100%;vertical-align:baseline;background:transparent;line-height:1;}
body{line-height:1;}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block;}
nav ul{list-style:none;}
blockquote,q{quotes:none;}
blockquote:before,blockquote:after,q:before,q:after{content:'';content:none;}
a{margin:0;padding:0;font-size:100%;vertical-align:baseline;background:transparent;}
ins{background-color:#ff9;color:#000;text-decoration:none;}
mark{background-color:#ff9;color:#000;font-style:italic;font-weight:bold;}
del{text-decoration:line-through;}
abbr[title],dfn[title]{border-bottom:1px dotted;cursor:help;}
table{border-collapse:collapse;border-spacing:0;}
hr{display:block;height:1px;border:0;border-top:1px solid #ccc;margin:1em 0;padding:0;}
input,select{vertical-align:middle;}

*{
	margin: 0;
	padding: 0;
	font-size: 12px;
	line-height: 100%;
	font-family: "メイリオ", Meiryo, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "ＭＳ Ｐゴシック", "MS PGothic", Osaka, Helvetica, Verdana, Arial, sans-serif;
}
section,article,aside,hgroup,header,footer,nav,figure {
	display: block;
}
body{
	text-align: left;
	color: #898989;
}
.clear{
	clear: both !important;
}
.clearfix:before,
.clearfix:after {
	content: "";
	display: table;
	height: 0;
}
.clearfix:after {
	clear: both;
}
.clearfix {/* IE6/7用 */
	zoom: 1;
}
img{
	border: none;
}
ul li {
	list-style-type: none;
}
.center{
	text-align: center;
}
.right{
	text-align: right;
}
.left{
	text-align: left;
}
.block {
	display: block;
}
.dispOff {
	display: none;
}
.floatLeft {
	width: auto;
	float: left;
}
.floatRight {
	width: auto;
	float: right;
}
a:link{
	color: #000000 !important;
	text-decoration: none !important;
}
a:visited{
	color: #000000 !important;
	text-decoration:  none !important;
}
a:hover{
	color: #000000 !important;
	text-decoration: underline !important;
	background-color: #0FF;
}
a:active{
	color: #000000 !important;
	text-decoration: underline !important;
}
/******************************************CSS_baseDefine*/
div.siteWrap {
	width: 750px;
	margin: auto;
}
	div.siteWrap header {
		margin: 20px 0;
	}
	div.siteWrap div.mainBody {
		width: 100%;
		padding-bottom: 50px;
		overflow: hidden;
	}
		div.siteWrap div.mainBody nav {
			width: 200px;
			float: left;
			text-align: center;
			margin-top: 10px;
			padding-bottom: 2000px;
			margin-bottom: -2000px;
			border-left: solid 1px #333;
			border-right: solid 1px #333;
		}
				div.siteWrap div.mainBody nav ul li {
					padding-bottom: 10px;
				}
					div.siteWrap div.mainBody nav ul li a {
						display: block;
					}
		div.siteWrap div.mainBody section {
			width: 540px;
			float: right;
		}
			div.siteWrap div.mainBody section h1 {
				margin: 10px 0;
			}
			div.siteWrap div.mainBody section p {
				line-height: 150%;
			}
	div.siteWrap footer {
		margin-top: 50px;
		color: #333;
		text-align: center;
	}